/*######################  RESET  ######################*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Verdana, Geneva, Tahoma, sans-serif; ISSO AQUI BOMBA*/
}
html,
body {
  height: 100%;
  /*overflow: hidden; /*Essa tag aqui está dizendo que o maximo de conteudo q pode ter é o 
  tamanho da tela, ai ele pula para a de baixo */
}

a {
  text-decoration: none;
}

section .container img {
  width: 100%;
  height: auto;
}

/*######################  VARIABLES  ######################*/
:root {
  /*Porque deixar as variaveis dentro do root ? Porque de qualquer lugar do meu css terei acesso a elas. */
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/*######################  BASE  ######################*/
body {
  font: 400 1rem 'DM Sans', sans-seif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased; /*Deixa mais "leve" a fonte dependendo do browser */
}
h1 {
  font: 700 1.875rem 'Poppins', sans-seif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  cursor: pointer;
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  border-radius: 0.25rem;
  display: inline-flex; /* Dessa forrma ele mantem o inline para sua largura mas respeita a altura que estamos colocando por caixa do flex*/
  align-items: center; /* Esse cara só funciona com o display flex*/
  padding: 0 2rem;
  font: 500 1rem 'DM Sans', sans-seif;
  transition: background 0.4s;
}

.button:hover {
  background: var(
    --base-color-alt
  ); /*Qual a diferença entre background e background-color?*/
}

.divider-1 {
  height: 1px;
  background: linear-gradient(0.25turn, #ffff, #ebf8e1, #f69d3c)


    /*linear-gradient ele está pegando os graus da linha e mudando conforte for setado a cor*/
   /* (270deg, #69b99d 0%, rgba(204, 244, 230, 0.34) 100%);*/
}
/*######################  LAYOUT  ######################*/
#header {
  border-bottom: 1px solid #e4e4e4; /*Se eu apenas uso o border ele criar a bordar no quadrado inteiro assim to pedindo somente a de baixo */
}

#header nav {
  display: flex;
  justify-content: space-between;
  height: 5.4rem;
  align-items: center; /*Olhando de uma perspectiva vertical ele pegous meus 5.4rem e deixou perfeitamente no centro, acredito que colocando 50% também ia bombar */
}

header nav .logo {
  font: 700 1.31rem 'Poppins', sans-seif;
  color: var(--title-color);
}

header nav .logo span {
  font: 700 1.31rem 'Poppins', sans-seif;
  color: var(--base-color);
}

.container {
  width: 100%;
  /*margin: 0 auto; /*0 é em cima e em baixo e auto é direita e esquerda sim podemos colocar 4 valores aqui um para cada direção */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

main .section {
  padding: 5rem 0;
}
/*######################  HOME  ######################*/

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  /*SudoElement */
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  top: 0;
  z-index: 0; /*São 3 dimensões: Eixo horizontal(X), eixo vertical(Y) e eixo de profundidade (Z) */
  /*As funções top, rigth, bottom são habilitadas por conta do position */
  /*margin-top: -16.8%;
  margin-left: 16.7%; Se usar assim ele vai trollar o padding das sections*/
  top: -16.8%;
  left: 16.7%;
  /*Porque o margin-right: -16.7%; não funcionou ?????? */
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  /*USAR VIRGULA TE PERMITE COLOCAR MAIS DE UM CAMPO PARA ESTILIZAR NÃO TE DEIXAR MAIS ESPESIFICO */
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}
/*O CSS ele sempre pega a ultima estilização a não ser que coloque um estilo mais espesifico */

